ul > li {
    border-style: groove;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    padding: 2%;
    margin: 10px 0px 10px 0px;
}

.check {
    margin-left: 10px;
}

.delete {

}